.App {
	background: linear-gradient(216deg, #b2b5f4, #d57baf, #efd5d1);
	background-size: 600% 600%;

	-webkit-animation: GradientAnimation 30s ease infinite;
	-moz-animation: GradientAnimation 30s ease infinite;
	animation: GradientAnimation 30s ease infinite;
}

@-webkit-keyframes GradientAnimation {
	0%{background-position:78% 0%}
	50%{background-position:23% 100%}
	100%{background-position:78% 0%}
}
@-moz-keyframes GradientAnimation {
	0%{background-position:78% 0%}
	50%{background-position:23% 100%}
	100%{background-position:78% 0%}
}
@keyframes GradientAnimation {
	0%{background-position:78% 0%}
	50%{background-position:23% 100%}
	100%{background-position:78% 0%}
}

